@use '_config' as *;

// Reset and base styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--main-bg-color);
  color: var(--main-txt-color);
  font-size: 18px;
  
  &:focus {
    outline-width: 0;
  }
}

// Global link styles
a {
  color: var(--main-txt-color);
  text-decoration: none;
  @include transition;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    outline-color: rgb(255, 0, 170);
    outline-style: dashed;
    outline-width: 1px;
  }
}

// Utility classes
.wrapper {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 992px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.highlight {
  background-color: var(--main-highlight);
  white-space: nowrap;
}

// Button styles
.btn {
  @include button-base;
}

.btn-small {
  @include button-small;
}

// Animations
.fade-enter-active,
.fade-leave-active {
  @include transition(opacity, 0.2s);
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

ul {
  padding-left: 24px;
}